{% extends "template.html" %} {% block title %} Home {% endblock %} {% block
content %}
<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/static/money-management-plants.jpg"
            alt="Money in jars with plants growing from it."
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Welcome to Stack'd!</h2>
          <p>
            Welcome to Stack’d — your personal finance tracker designed to help
            you take control of your money with ease. Whether you're saving for
            a goal, keeping an eye on your spending, or building better habits,
            Stack’d makes managing your finances simple, visual, and rewarding.
            Start tracking today and stack your way toward financial freedom.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/static/money-pile.png"
            alt="Huge pile of money"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Build Your Stack</h2>
          <p>
            Stack your savings, one goal at a time. Whether you're saving for a
            new phone, a trip with the crew, or your future flat, this is where
            it starts. Set your goal, track your progress, and celebrate every
            dollar closer to the finish line.
          </p>
          <a class="btn btn-primary" href="/goals-and-savings">Goals/Savings</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
            class="img-fluid rounded-circle"
            src="/static/bunch-of-receipts.jpg"
            alt="Huge pile of receipts"
          />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Every Dollar Counts</h2>
          <p>
            Keeping an eye on your expenses is the first step to better money
            habits. Record where your money’s going, spot patterns in your
            spending, and stay in control of your budget. It’s simple, clear,
            and helps you make smarter choices with your cash.
          </p>
          <a class="btn btn-primary" href="/templates/track_expenses"
            >Track Expenses</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
